<!DOCTYPE html>
<html>
  <head>
    <title>CollabSys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="navbar navbar-default">
        <div class="col-xs-3 col-xs-offset-9">
          <% if user_signed_in? %>
            Hello, <%= current_user.username %> |
            <%= link_to 'Log out', destroy_user_session_path, :method => :delete, :style => "margin: 10px" %>
          <% else %>
            <%= link_to 'Log in', new_user_session_path, :class => "btn btn-sm btn-primary", :style => "margin: 10px" %>
          <% end %>
        </div>
      </div>

    <div class="col-xs-8 col-xs-offset-2">
      <% if notice %>
        <div class="notice alert alert-info"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-info"><%= alert %></div>
      <% end %>
    </div>

    <div class="col-xs-8 col-xs-offset-2">
      <%= yield %>
    </div>

  </body>
</html>
